.header {
    position: relative;
    left: 0;
    top: 0;
    padding: 8px;
    display: flex;
    min-width: 0;
    /* background-color: antiquewhite; */
}

.main-header {
    flex: 1 1 auto;
    overflow: hidden;
    padding-right: 30px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    vertical-align: middle;
    white-space: nowrap;
}

.menu-bar {
    border-radius: 50%;
    display: inline-block;
    margin: 0 4px;
    padding: 12px;
    overflow: hidden;
    vertical-align: middle;
    cursor: pointer;
    height: 24px;
    width: 24px;
}

.menu-bar:hover {
    background-color: rgba(60, 64, 67, 0.08);
    outline: none;
}